<template name="enemyTeam">
  <div class="col-md-6">
    <div class="header">
      Ellenfél csapata
    </div>
    {{#with team}}
    <div class="team-name">
      <h3><a href="{{pathFor 'teamPage'}}">{{name}}</a></h3>
    </div>
    <h3>
      <address>
        {{address}}
      </address>
    </h3>
    {{table}}
    {{ball}}
    {{#if rightForPermVenue}}
    <h2>Mindig pályaválasztó</h2>
    {{/if}}
    <div class="players">
      <table class="table .table-striped">
        <tr>
          <th>Játékos</th>
          <th>mérkőzés</th>
          <th>győzelem</th>
          <th>arány</th>
        </tr>
        {{#each players}}
        <tr>
          <td>{{name}}</td>
          <td>{{gamesPlayed}}</td>
          <td>{{gamesWon}}</td>
          <td>{{winRateFormatted}}</td>
        </tr>
        {{/each}}
      </table>
    </div>
    {{/with}}
  </div>
</template>
