/* CSS declarations go here */
.selectedRound {
  display: block;
  background: #e8eaf5;
}

.myMatch {
  display: block;
  background: #8dcaff;
}

.myNextMatch {
  display: block;
  background: #69bbff;
}

.round{
  border: 1px black;
}

.header {
}
