/* CSS declarations go here */
[data-required] label:after {content: '*'}

.myMatch {
  background: #8dcaff;
  padding: 3px;
}

.myNextMatch {
  background: #69bbff;
}

.myNextRound {
  background: #666666;
  font-size: 17px;
}

.selectedRound {
  background: #7dbaff;
}
