/* CSS declarations go here */
[data-required] label:after {content: '*'}

.myMatch {
  display: block;
  background: #8dcaff;
  padding: 3px;
}

.myNextMatch {
  display: block;
  background: #69bbff;
  padding: 3px;
}
