<template name="rounds">
  <div class="col-md-6">
    <div class="header">
      Fordulók
    </div>
    <div class="list-group">
      {{#each rounds}}
      <div class="list-group-item round {{selectedRound}}">
        <h4 class="list-group-item-heading">
          Forduló {{num}} - {{formatDate startsOn}}
        </h4>
        <div class="list-group">
          {{#each matches}}
          <div class="{{myMatch}} {{myNextMatch}}">
            <h5 class="">
              {{teamName homeTeam}} - {{teamName awayTeam}}
            </h5>
            {{formatDate matchStarts}}
            {{#each results}}
            <div class="">
              <div>{{p1}} - {{p2}}: {{s1}} - {{s2}}</div>
            </div>
            {{/each}}
          </div>
          {{/each}}
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</template>
