<template name="rounds">
  <div class="col-md-6">
    <div class="header">
      Fordulók
    </div>
    <div class="list-group">
      {{#each rounds}}
      <div class="list-group-item round {{selectedRound}}">
        <h4 class="list-group-item-heading">
          Forduló {{num}} - {{formatDate startsOn}}
        </h4>
        <div class="list-group">
          {{#each matches}}
          <div>
            <h5>
              <span class="{{myMatch}} {{setEnemyTeam}} {{myNextRound}}">
                {{matchBetween}}
              </span>
              {{#if hasScores}}
              <span class="label label-default">
                {{homeTeamScore}}:{{awayTeamScore}}
              </span>
              {{/if}}
            </h5>
            {{#if matchIsNotSkipped}}
            {{formatDateWithTime matchStarts}}
            {{/if}}
          </div>
          {{/each}}
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</template>
