<template name="newTrainingForm">

  {{#autoForm schema=Schemas.Trainings collection="Trainings" id="newTrainingForm" type="insert" buttonContent="Hozzáadás"}}
  <fieldset>
    <legend>Új edzés</legend>
    {{> afQuickField name="location" options=availableLocations firstOption="(Választás)"}}
    {{> afQuickField name="periodStart"}}
    {{> afQuickField name="duration"}}
    {{> afFieldInput name="user"}}
  </fieldset>

  <button type="submit" class="btn btn-primary">Hozzáadás</button>
  {{/autoForm}}
</template>
