<template name="playerFinder">
  <p class="text-primary">Játékos kereső</p>
  <a href="{{pathFor 'newTrainingForm'}}">Új edzés</a>
  {{#each activeTrainings}}
  <div>
    <ul class="list-group">
      <li class="list-group-item">
        <span>{{this._id}}</span>

        <span>{{userId}}</span>
        <span>{{createdAt}}</span>

        <span><a href="{{pathFor 'locationDetails' _id=location}}">{{locationName location}}</a></span>
        <span>{{periodStart}}</span>
        <span>{{duration}}</span>
        <span><a href="{{pathFor 'updateTrainingForm' }}">Módosítás</a></span>
        {{#quickRemoveButton collection="Trainings" _id=this._id}}
        Törlés
        {{/quickRemoveButton}}
      </li>
    </ul>
  </div>
  {{/each}}
</template>
